@font-face {
	font-family: 'Monster AG';
	src: url('Fonts/Monster AG.ttf') format('truetype');
}

@font-face {
	font-family: 'Protest Revolution';
	src: url('Fonts/ProtestRevolution-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Creepster';
	src: url('Fonts/Creepster-Regular.ttf') format('truetype');
}

:root {
	--colorA: black;
    --colorB: #1a3a4e;
    --colorC: #c24757 /*#fe0758*/;
	--colorD: rgba(221, 209, 254, 0.87);
	--colorE: rgb(179, 222, 255);
	--defaultFont: 'poppins', sans-serif;	
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: var(--defaultFont);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Monster AG';
	font-size: 70px;
}