/* CSS for Login Page */
@import url(constants.css);

body {
    background-image: url(../Images/backgroundLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--defaultFont);
    height: 100%;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
	font-family: 'Monster AG';
	font-size: 70px;
}

.login, .register {
    margin-bottom: 10px;
}

.login label, .register label{
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 18px;
}

.login input, .register input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
}

.btn:hover {
    background-color: #45a049;
}

.checkboxes {
    width:100%;
}

.checkboxes #show-pass {
    margin-top: 20px;
}

.help {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}

.help:hover{
    cursor: default;
}

#email, #pass, #firstname, #lastname, #confirm-password {
    border-radius: 10px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.20);
}

#login-button, #register-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--colorC);
    color: #fff;
	font-size: 17px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

#login-button:hover, #register-button:hover {
    cursor: default;
    background-color: #a03a47;
}

#toggle-pass label {
    display: inline-block;
    vertical-align: middle;
}

#toggle-pass input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

#form-dati h1, #form-dati label, #form-dati input {
    margin-top: 10px;
}

#form-sfondo {
    max-width: 400px;
    margin: 140px auto;
    padding: 20px;
    background-color: rgba(221, 209, 254, 1);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
    color: #362F52;
}

#switchForm {
    margin-top: 15px;
    text-align: center;
}

#back-button {
    padding: 10px 20px;
    background-color: var(--colorC);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    cursor: default;
    background-color: #a03a47;
}
