@import url(constants.css);

/* Scritta */
.header {
    min-height: 89vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../Images/background.jpg);
    background-position: center;
    background-size: cover;
	padding-bottom: 5%;
}
.header .text {
	font-size: 4vw;
	font-weight: 500;
	color: #fff;
	text-align: center;
}
.header .text span {
	font-family: 'Creepster', sans-serif;
	-webkit-text-stroke: 2px black;
}