@import url(constants.css);

/* Header- - navbar */
nav {
	position: sticky;
	top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3% 10px 3%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.87);
}
.nav-links {
	font-weight: bold;
    width: 60%;
    list-style: none;
    display: inline-block;
    margin: 10px auto 10px 50px;
}
.nav-links li {
	display: inline;
	padding: 0 5% 0 0;
}
.nav-links li a {
	text-decoration: none;
	color: var(--colorB);
}
.register-btn {
	background-color: var(--colorC);
	color: #fff;
	padding: 8px 20px;
	border-radius: 20px;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}

#logo, #logo:hover {
	font-family: 'Monster AG', sans-serif;
	font-size: 50px;
    text-decoration: none;
    color: black;
    margin-top: -4.5px;
}

.footer {
	background-color: var(--colorB);
	color: #fff;
	text-align: center;
	padding: 20px;
}

.footer a {
    color: aqua;
}