@import url(constants.css);

body {
	font-family: 'poppins', sans-serif;
	background-color: #ffffff;
}

/* NAVBAR */
nav {
	position: sticky;
	z-index: 2;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px 0 10px;
	width: 100%;
	background-color: rgb(179, 222, 255);
	height: 75px;
}

.nav-links {
	font-weight: bold;
	width: 60%;
	list-style: none;
	display: inline-block;
	margin: 10px auto 10px 50px;
}

.nav-links li {
	display: inline;
	padding: 0 5% 0 0;
}

.nav-links li a {
	text-decoration: none;
	color: var(--colorB);
}

.nav-links li a:hover {
	color: var(--colorC);
	/* font-size: large; */
}

.account {
	background-color: var(--colorB);
	color: #fff;
	padding: 8px 20px;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	font-family: 'poppins', sans-serif;
}

#logo,
#logo:hover {
	font-family: 'Monster AG', sans-serif;
	font-size: 50px;
	text-decoration: none;
	color: black;
	margin-top: -4.5px;
}


/********* SEARCH BAR ********/
.search-bar {
	background: rgba(255, 255, 255, 0.912);
	margin: 30px auto;
	padding: 10px 10px 10px 20px;
	border-radius: 50px;
	min-width: 410px;
	width: 20%;
	margin-right: 5%;
	/* border: solid 1px var(--colorC); */
}

.search-bar form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

/*Fields*/
.search-bar form input,
.search-bar form select {
	display: block;
	border: 0;
	outline: none;
	background: transparent;
}

.field {
	flex: 1;
}

.search-bar form label {
	font-weight: 600;
}

#location {
	border-color: none;
}

#calendar_arrow, #calendar, #location, #level {
	cursor: pointer;
}

option {
	font-family: var(--defaultFont);
}

/*Search button*/
.search-bar form button {
	background: var(--colorC);
	width: 35px;
	height: 35px;
	border: 0;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	margin: 0;
	margin-left: 10px;
	padding: 0;
}
/* @media screen and (min-width: 1700px) {
	.search-bar form button {
		margin-left: 15px;
	}
} */

.search-bar form button span {
	color: #fff;
}

#eye {
	font-family: 'Monster AG', sans-serif;
	font-size: 35px;
	color: white;
	margin-top: -15%;
}

#sidebar {
	margin-right: 20px;
	margin-left: 10px;
}