@import url(constants.css);

body {
    font-family: var(--defaultFont);
    height: 100%;
}

.profile {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
	font-family: 'Monster AG';
	font-size: 70px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
}

#form-totale {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(221, 209, 254, 1);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
    color: #362F52;
}

#update-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--colorC);
    color: #fff;
	font-size: 17px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

#update-button:hover {
    cursor: default;
    background-color: #a03a47;
}