@import url(constants.css);
/* profile.css */

/* Stile generale */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    background-color: #1a3a4e36;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}

/* Stile per l'immagine del profilo */
.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Stile per il form di modifica */
.form-control {
    margin-bottom: 10px;
}

.profile-button {
    width: 150px;
}