@import url(constants.css);

#boxes {
	display: flex;
	justify-content: center;
	/* 	align-items: center;
 */
	flex-wrap: wrap;
	margin-top: 10px;
	z-index: 1;
}

.box {
	position: inherit;
	text-align: center;
	width: 15%;
	height: fit-content;
	background-color: var(--colorD);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
	.box {
		width: 20%;
	}
}

@media screen and (min-width: 860px) and (max-width: 1200px) {
	.box {
		width: 30%;
	}
}

@media screen and (min-width: 640px) and (max-width: 860px) {
	.box {
		width: 40%;
	}
}

@media screen and (max-width: 640px) {
	.box {
		width: 70%;
	}
}

.box_text {
	text-align: left;
	padding: 10px;
	color: var(--colorB);
}

.reviews {
	position: absolute;
	margin-top: -26px;
	margin-left: 190px;
}

@media screen and (min-width: 1000px) {
	.reviews {
		margin-left: 170px;
	}
}

.doorPic {
	width: 225px;
	height: 390px;
	object-fit: cover;
}

.heart,
.heart_red {
	position: absolute;
	margin-left: 200px;
	margin-top: -15px;
	font-size: 40px;
	user-select: none;
}

.heart {
	color: rgba(0, 0, 0, 0);
	-webkit-text-stroke: 2px #000000;
}

.heart_red {
	color: red;
	-webkit-text-stroke: 2px #000000;
}

.heart:hover {
	transform: scale(1.08) translateY(-2px);
}

.kid {
	position: absolute;
	margin: 350px 0px auto -50px;
	width: 60px;
	height: 60px;
	user-select: none;
	border-radius: 50%;
	border: 1px solid var(--colorB);
	/* cursor: default; */
}

.scaredOf {
	font-size: 13;
}