* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* Header- - navbar */
nav {
	position: sticky;
	top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3% 10px 3%;
	width: 100%;
	background-color: rgba(186, 197, 211, 0.2);
}
.logo {
    width: 100px;
    cursor: pointer;
}
.nav-links {
	font-weight: bold;
	width: 70%;
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li {
	display: inline;
	padding: 0 5% 0 0;
}
.nav-links li a {
	text-decoration: none;
	color: #2e4e6e;
}
.register-btn {
	background-color: #2e4e6e;
	color: #fff;
	padding: 8px 20px;
	border-radius: 20px;
	text-decoration: none;
	font-size: 14px;
}

/* Header- - search bar */
.header {
    min-height: 89vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../Images/bg.jpg);
    background-position: center;
    background-size: cover;
}
.header h1 {
	font-size: 4vw;
	font-weight: 500;
	color: #fff;
	text-align: center;
}
.search-bar {
	background: #fff;
	margin: 30px auto;
	padding: 10px 10px 10px 20px;
	border-radius: 50px;
}
@media (min-width: 1000px) {
	.header h1 {
		padding-top: 11%;
	}
	.search-bar {
		width: 60%;
	}
}
@media (min-width: 881px) and (max-width: 999px) {
	.header h1 {
		padding-top: 15%;
	}
	.search-bar {
		width: 70%;
	}
}
@media (min-width: 761px) and (max-width: 880px) {
	.header h1 {
		padding-top: 20%;
	}
	.search-bar {
		width: 80%;
	}
}
@media (max-width: 760px) {
	.header h1 {
		padding-top: 25%;
	}
	.search-bar {
		width: 90%;
	}
}
.search-bar form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.search-bar form input {
	display: block;
	border: 0;
	padding: 0;
	outline: none;
	background: transparent;
}
.search-bar form button {
	background: #2e4e6e;
	width: 55px;
	height: 55px;
	border: 0;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
.search-bar form button span {
	color: #fff;
}
.field {
	flex: 1;
	min-width: 150px;
}
.search-bar form label {
	font-weight: 600;
}
.guests {
	display: flex;
	align-items: center;
}
.guests span {
	border:#000 1px solid;
	border-radius: 100%;
	font-size: medium;
	cursor: pointer;
	text-align: center;
	user-select: none;
}
.g {
	width: 20px;
	text-align: center;
}
#nGuests {
	margin-top: -3px;
	margin-left: 5px;
	width: 10px;
}